<h1>Save All Comics!</h1>
<form action="" method="POST" enctype=multipart/form-data>
{{ form.hidden_tag() }}
<p>Please input a <a href="http://www.readallcomics.com" rel="Nofollow">Readallcomics.com</a> link</p>
{{ form.search(placeholder='Comic URL, eg: https://readallcomics.com/marauders-001-2019/') }}
{{ form.submit() }}
</form>
<h2>About Saveallcomics</h2>
<p>We hope you have enjoyed using Saveallcomics! We are a totally <strong>FREE</strong> project without profit.</p>

<p>&copy; 2019 <a href="">Saveallcomics</a>. Some rights reserved.</p>